# CONFIG_VMAP_STACK is not set
CONFIG_EROFS_FS_DEBUG=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
CONFIG_PERCPU_TEST=m
CONFIG_PM_TEST_SUSPEND=y
CONFIG_SPI_DEBUG=y
CONFIG_WQ_WATCHDOG=y
CONFIG_I2C_GPIO_FAULT_INJECTOR=y
# CONFIG_INLINE_READ_LOCK is not set
# CONFIG_INLINE_READ_LOCK_BH is not set
# CONFIG_INLINE_READ_LOCK_IRQ is not set
# CONFIG_INLINE_READ_LOCK_IRQSAVE is not set
# CONFIG_INLINE_READ_UNLOCK_BH is not set
# CONFIG_INLINE_READ_UNLOCK_IRQRESTORE is not set
# CONFIG_INLINE_SPIN_LOCK is not set
# CONFIG_INLINE_SPIN_LOCK_BH is not set
# CONFIG_INLINE_SPIN_LOCK_IRQ is not set
# CONFIG_INLINE_SPIN_LOCK_IRQSAVE is not set
# CONFIG_INLINE_SPIN_TRYLOCK is not set
# CONFIG_INLINE_SPIN_TRYLOCK_BH is not set
# CONFIG_INLINE_SPIN_UNLOCK_BH is not set
# CONFIG_INLINE_SPIN_UNLOCK_IRQRESTORE is not set
# CONFIG_INLINE_WRITE_LOCK is not set
# CONFIG_INLINE_WRITE_LOCK_BH is not set
# CONFIG_INLINE_WRITE_LOCK_IRQ is not set
# CONFIG_INLINE_WRITE_LOCK_IRQSAVE is not set
# CONFIG_INLINE_WRITE_UNLOCK_BH is not set
# CONFIG_INLINE_WRITE_UNLOCK_IRQRESTORE is not set
CONFIG_KASAN_SHADOW_OFFSET=0xdfffa00000000000
# CONFIG_KASAN_SW_TAGS is not set
CONFIG_MAILBOX_TEST=m
# CONFIG_UBSAN_UNREACHABLE is not set
