CONFIG_ACPI_APEI_ERST_DEBUG=m
CONFIG_ACPI_CONFIGFS=m
CONFIG_ACPI_CUSTOM_METHOD=m
CONFIG_ACPI_DEBUG=y
CONFIG_ACPI_DEBUGGER=y
CONFIG_ACPI_DEBUGGER_USER=m
CONFIG_CGROUP_DEBUG=y
CONFIG_DEBUG_CREDENTIALS=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_DEBUG_OBJECTS_ENABLE_DEFAULT=1
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_DEBUG_PAGEALLOC=y
# CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT is not set
CONFIG_DEBUG_PAGE_REF=y
CONFIG_DEBUG_SG=y
CONFIG_DMA_API_DEBUG=y
CONFIG_DMA_API_DEBUG_SG=y
CONFIG_DMADEVICES_DEBUG=y
CONFIG_DMADEVICES_VDEBUG=y
CONFIG_DRM_AMDGPU_GART_DEBUGFS=y
CONFIG_EDAC_DEBUG=y
CONFIG_EXT4_DEBUG=y
CONFIG_FAIL_IO_TIMEOUT=y
CONFIG_FAIL_MAKE_REQUEST=y
CONFIG_FAIL_MMC_REQUEST=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_FAILSLAB=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
# CONFIG_FAULT_INJECTION_USERCOPY is not set
CONFIG_FSCACHE_OBJECT_LIST=y
CONFIG_FTRACE_RECORD_RECURSION=y
CONFIG_FTRACE_RECORD_RECURSION_SIZE=128
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_KASAN=y
CONFIG_KASAN_GENERIC=y
CONFIG_KASAN_INLINE=y
# CONFIG_KASAN_OUTLINE is not set
CONFIG_LOCKDEP=y
CONFIG_LOCK_EVENT_COUNTS=y
CONFIG_PAGE_EXTENSION=y
CONFIG_PM_ADVANCED_DEBUG=y
# CONFIG_PROVE_RAW_LOCK_NESTING is not set
CONFIG_QUOTA_DEBUG=y
CONFIG_RCU_TORTURE_TEST=m
CONFIG_RING_BUFFER_RECORD_RECURSION=y
CONFIG_UBSAN=y
CONFIG_UBSAN_BOOL=y
CONFIG_UBSAN_BOUNDS=y
CONFIG_UBSAN_ENUM=y
CONFIG_UBSAN_SANITIZE_ALL=y
CONFIG_UBSAN_SHIFT=y
CONFIG_XFS_WARN=y
# CONFIG_BLK_DEV_NULL_BLK_FAULT_INJECTION is not set
CONFIG_CC_HAS_UBSAN_ARRAY_BOUNDS=y
CONFIG_CC_HAS_UBSAN_BOUNDS=y
CONFIG_CEPH_LIB_PRETTYDEBUG=y
CONFIG_CONSTRUCTORS=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_KMEMLEAK_AUTO_SCAN=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_KMEMLEAK_MEM_POOL_SIZE=16000
# CONFIG_DEBUG_KMEMLEAK_TEST is not set
# CONFIG_DEBUG_KOBJECT_RELEASE is not set
CONFIG_DEBUG_LOCK_ALLOC=y
# CONFIG_DEBUG_LOCKDEP is not set
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_OBJECTS=y
# CONFIG_DEBUG_OBJECTS_SELFTEST is not set
CONFIG_DEBUG_PER_CPU_MAPS=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
# CONFIG_FAIL_FUNCTION is not set
# CONFIG_FAIL_FUTEX is not set
# CONFIG_GCC_PLUGIN_STRUCTLEAK_BYREF is not set
# CONFIG_GCC_PLUGIN_STRUCTLEAK_BYREF_ALL is not set
# CONFIG_INLINE_READ_UNLOCK is not set
# CONFIG_INLINE_READ_UNLOCK_IRQ is not set
# CONFIG_INLINE_SPIN_UNLOCK_IRQ is not set
# CONFIG_INLINE_WRITE_UNLOCK is not set
# CONFIG_INLINE_WRITE_UNLOCK_IRQ is not set
CONFIG_KASAN_STACK=y
CONFIG_LATENCYTOP=y
CONFIG_LOCK_TORTURE_TEST=m
CONFIG_NFP_DEBUG=y
CONFIG_NOUVEAU_DEBUG_MMU=y
CONFIG_PREEMPT_COUNT=y
CONFIG_PREEMPTIRQ_TRACEPOINTS=y
CONFIG_PROVE_LOCKING=y
CONFIG_PROVE_RCU=y
CONFIG_STACKDEPOT=y
CONFIG_TASKS_RCU=y
# CONFIG_TEST_KASAN_MODULE is not set
CONFIG_TEST_LIST_SORT=y
CONFIG_TEST_STRING_HELPERS=m
# CONFIG_TEST_UBSAN is not set
CONFIG_TORTURE_TEST=m
CONFIG_TRACE_IRQFLAGS=y
# CONFIG_UBSAN_ALIGNMENT is not set
CONFIG_UBSAN_ARRAY_BOUNDS=y
# CONFIG_UBSAN_DIV_ZERO is not set
# CONFIG_UBSAN_TRAP is not set
CONFIG_UNINLINE_SPIN_UNLOCK=y
