CONFIG_ARCH_FORCE_MAX_ORDER=11
# UNLIMITED CONFIG_BUILD_SALT
# UNLIMITED CONFIG_EXT3_FS
CONFIG_HZ=250
CONFIG_LOG_BUF_SHIFT=18
CONFIG_LOG_CPU_MAX_BUF_SHIFT=12
CONFIG_PGTABLE_LEVELS=3
# UNLIMITED CONFIG_RANDOMIZE_BASE
# UNLIMITED CONFIG_SYSTEM_TRUSTED_KEYS
# EXCLUSIVE y CONFIG_16KB_2LEVEL CONFIG_16KB_3LEVEL CONFIG_4KB_3LEVEL CONFIG_4KB_4LEVEL CONFIG_64KB_2LEVEL CONFIG_64KB_3LEVEL
CONFIG_ARCH_IOREMAP=y
CONFIG_ARCH_STRICT_ALIGN=y
CONFIG_ARCH_WRITECOMBINE=y
CONFIG_BASE_FULL=y
CONFIG_BLK_PM=y
CONFIG_BNX2=y
CONFIG_BNX2X=m
CONFIG_BNXT=m
CONFIG_BTRFS_FS=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_CGROUP_WRITEBACK=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_CHELSIO_T4=m
CONFIG_CIFS=m
CONFIG_CONFIGFS_FS=y
CONFIG_CPU_HAS_LASX=y
CONFIG_CPU_HAS_LBT=y
CONFIG_CPU_HAS_LSX=y
CONFIG_CRC16=y
CONFIG_CRYPTO_CRC32=m
CONFIG_CRYPTO_CRC32_LOONGARCH=m
CONFIG_CRYPTO_FIPS=y
CONFIG_CRYPTO_LZO=m
CONFIG_CUSE=m
CONFIG_DRM=y
CONFIG_DRM_LOONGSON=y
CONFIG_DWMAC_LOONGSON=m
CONFIG_E1000=m
CONFIG_EXT4_FS=y
CONFIG_FB_LS2K500=m
CONFIG_FCOE=m
CONFIG_FSCACHE=m
CONFIG_GPIO_LOONGSON_64BIT=y
CONFIG_I2C_LS2X=m
CONFIG_I40E=m
CONFIG_I40EVF=m
CONFIG_ICE=m
CONFIG_IGB=m
CONFIG_IP_VS_PROTO_TCP=y
CONFIG_IP_VS_RR=m
CONFIG_IXGBE=m
CONFIG_IXGBEVF=m
CONFIG_JBD2=y
CONFIG_KSM=y
CONFIG_LIVEPATCH=y
CONFIG_MACVLAN=m
CONFIG_MEGARAID_SAS=m
CONFIG_MEMCG_KMEM=y
CONFIG_MLX4_CORE=m
CONFIG_MLX4_EN=m
CONFIG_MLX5_CORE=m
CONFIG_MLX5_CORE_EN=y
CONFIG_MPTCP=y
CONFIG_MQ_IOSCHED_KYBER=y
CONFIG_MTD=m
CONFIG_NETFILTER_XTABLES=y
CONFIG_NET_ACT_GACT=m
CONFIG_NET_ACT_POLICE=m
CONFIG_NFSD_V3_ACL=y
CONFIG_NFS_ACL_SUPPORT=y
CONFIG_NFS_V3=m
CONFIG_NFS_V4_1=y
CONFIG_NFS_V4_2=y
CONFIG_NGBE=m
CONFIG_NVME_FABRICS=m
CONFIG_NVME_RDMA=m
CONFIG_NVME_TCP=m
CONFIG_PROC_PID_CPUSET=y
CONFIG_PROFILING=y
CONFIG_RATIONAL=y
CONFIG_RSEQ=y
CONFIG_RTC_DRV_LOONGSON=y
CONFIG_RTC_INTF_DEV=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_SCSI_MPT2SAS=m
CONFIG_SCSI_MPT3SAS=y
CONFIG_SECURITY_INFINIBAND=y
CONFIG_SECURITY_NETWORK_XFRM=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_SPI_LOONGSON_PCI=y
CONFIG_STACKPROTECTOR_STRONG=y
CONFIG_TASKSTATS=y
CONFIG_TCP_CONG_BBR=m
CONFIG_TXGBE=m
CONFIG_USB_ACM=m
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_PCI=y
CONFIG_USB_STORAGE=m
CONFIG_USB_XHCI_HCD=y
CONFIG_VIRTIO_BLK=m
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_MMIO=m
CONFIG_ZSMALLOC=y
