# dist/config_file_name arch base layout(variant/arch)
ANCK/generic-x86 x86 null generic/default;generic/x86
ANCK/debug-x86 x86 null generic/default;generic/x86;debug/default;debug/x86
ANCK/gcov-x86 x86 null generic/default;generic/x86;gcov/default
ANCK/generic-arm64 arm64 null generic/default;generic/arm64
ANCK/debug-arm64 arm64 null generic/default;generic/arm64;debug/default;debug/arm64
ANCK/gcov-arm64 arm64 null generic/default;generic/arm64;gcov/default
ANCK/arm64-64k arm64 null generic/default;generic/arm64;64k/arm64
