## These CXL & DEV_DAX* related kconfigs must be m to allow out-of-tree modules override them.
CONFIG_CXL_BUS=m
CONFIG_CXL_PCI=m
CONFIG_CXL_ACPI=m
CONFIG_CXL_PMEM=m
CONFIG_CXL_MEM=m
CONFIG_CXL_PORT=m
CONFIG_CXL_REGION=y
CONFIG_CXL_PMU=m
CONFIG_DEV_DAX_CXL=m
CONFIG_DEV_DAX_HMEM=m
CONFIG_DEV_DAX_KMEM=m

## (ANBZ#10825)
# CONFIG_RAS_CEC is not set

## (ANBZ#10820)
CONFIG_FCOE=m
